ADMIN_EMAIL="kalaikannan0181@gmail.com"
ADMIN_PASSWORD_HASH=""
VITE_SUPABASE_URL=https://kqdhboohqqimrwbksemm.supabase.co
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtxZGhib29ocXFpbXJ3YmtzZW1tIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTEyNTc4NzMsImV4cCI6MjEwNjgzMzg3M30.XTTSoZ4oejA8v4T1s_cU4Zwhow5YvVPk1o0SBL4ptxQ"
